$colorPrimary: rgb(31,116,255);
$colorSuccess: rgb(70,201,58);
$colorWarning: rgb(255,186,0);
$colorDanger: rgb(255,71,87);

$dark: #333;
$light: #fff;

$defaultBorderColor: #dcdfe6;

$textColor: #333;

$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeLarge: 16px;